<form #passwordForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput 
    placeholder="Password" 
    type="password"
    name="password"
    [(ngModel)]="password" (input)="onValidatePassword()">
  </mat-form-field>
  <ul class="strength">
    <li class="default" 
    [ngClass]="{'less':strength==='less', 'easy':strength==='easy',
    'medium':strength==='medium', 'strong': strength==='strong' }"
    >The password is easy</li>
    <li class="default"
    [ngClass]="{'less':strength==='less', 'medium':strength==='medium','strong': strength==='strong' }"
    >The password is medium</li>
    <li class="default"
    [ngClass]="{'less':strength==='less', 'strong': strength==='strong'}"
    >The password is strong</li>
  </ul>
</form>